<html lang="en" >

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login with Uber</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <style>

html {
  background-color: #000000;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.flip-down {
  background: #edf0f5;
  border-radius: 0.5rem;
  height: 20rem;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20rem;
  z-index: 2;
}

.logo {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

.text {
  height: 50px;
  width: 100px;
  margin-top: 10px;
}

.flip-down button {
  background-size: 100%;
  background-color: #000000; 
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 inset, rgba(0, 0, 0, 0.2) 0 1px 1px;
  border-radius: 7px;
  border: 1px solid #628439;
  bottom: 2rem;
  cursor: pointer;
  color: #fff;
  height: 3rem;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  width: 80%;
}

@keyframes fadein {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  </head>

  <body>
    <section>
      <div class="flip-down">
      <center><img class="logo" src="https://pngimg.com/uploads/uber/uber_PNG27.png" alt="" /></center> 
      <center><img class="text" src="https://s3.amazonaws.com/assets.investx.com/Deal+Logo/uber+white.png" alt="" /></center> 
      <a href="/login/uber"><button>Login with Uber</button></a>
    </div>
    </section>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </body>

</html>
