<html lang="en" >
  
  <head>
    <meta charset="UTF-8">
    <title>Uber Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="hover-box">
          <div class="text">
            <h1>Promo Code: <%= user._json.promo_code %></h1>
          </div>
        </div>
        <div class="top">
          <a href="#" id="star"><i class="fa fa-star ico"></i></a>
          <div class="profile" style="background-image: url(<%= user.avatar %><)"></div>
          <h1 class="title"><%= user.firstname %>  <%= user.lastname %></h1>
          <h3 class="job"><%= user.email %></h3>
        </div>
        <div class="bottom">
          <div class="links">
            <ul>
              <li><i class="fa fa-circle green"></i><a href="#">Mobile Verified: <%= user._json.mobile_verified %></a></li>
              <br/>
              <li><a href="/me/raw" target="_blank">View Raw JSON</a></li>
              <br/>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script  src="../js/index.js"></script>
  </body>
</html>
