body {
  background-color: #E6E6E6;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}
.container .box {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.container .box .top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .box .top #star {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 75%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: .5s;
  text-decoration: none;
  z-index: 3;
}
.container .box .top #star:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.container .box .top #star:hover .ico {
  color: #FFAE00;
}
.container .box .top #star .ico {
  text-align: center;
  font-size: 18px;
  color: #626262;
  transition: .5s;
}
.container .box .top .profile, .container .box .top .title, .container .box .top .job {
  margin: 5px;
}
.container .box .top .profile {
  border: 4px solid white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 45%;
  z-index: 2;
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  width:100px;
  height:100px;
}
.container .box .top .title {
  font-size: 18px;
  font-weight: 700;
}
.container .box .top .job {
  font-size: 14px;
  font-weight: 400;
}
.container .box .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50%;
  background-color: #F5F5F5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container .box .bottom .links ul {
  text-align: center;
}
.container .box .bottom .links ul li {
  padding: 5px;
}
.container .box .bottom .links ul a {
  color: #626262;
  font-size: 15px;
  text-decoration: none;
}
.container .box .bottom .links ul a:hover {
  text-decoration: underline;
}
.container .box .bottom .links ul .green {
  color: #50E3B3;
  font-size: 15px;
  padding-right: 5px;
}
.container .box .bottom .social-links ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
}
.container .box .bottom .social-links ul li {
  padding: 10px;
  font-size: 24px;
}
.container .box .bottom .social-links ul li a {
  color: #626262;
}
.container .box .hover-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: #FDF4DA;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}
.container .box .hover-box .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  text-align: center;
}
.container .box .hover-box .text h1 {
  color: #574A21;
  line-height: 1.5;
  font-weight: 400;
  font-size: 22px;
}
